In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('order_brush_order.csv')

In [7]:
df

               orderid     shopid     userid           event_time
0       31076582227611   93950878   30530270  2019-12-27 00:23:03
1       31118059853484  156423439   46057927  2019-12-27 11:54:20
2       31123355095755  173699291   67341739  2019-12-27 13:22:35
3       31122059872723   63674025  149380322  2019-12-27 13:01:00
4       31117075665123  127249066  149493217  2019-12-27 11:37:55
...                ...        ...        ...                  ...
222745  31245479170194  110868129  193218997  2019-12-28 23:17:59
222746  31230440360374   91639906    3541807  2019-12-28 19:07:20
222747  31191471145838   29391773  135908070  2019-12-28 08:17:52
222748  31198471732255   61556313   27306783  2019-12-28 10:14:31
222749  31164356713822  147941492  127484153  2019-12-28 00:45:56

[222750 rows x 4 columns]

In [24]:
df.groupby(["shopid"]).mean()

                orderid        userid
shopid
10009      3.108641e+13  1.969623e+08
10051      3.119978e+13  2.572725e+07
10061      3.131111e+13  1.391669e+08
10084      3.126325e+13  8.608837e+07
10100      3.130157e+13  9.537958e+07
...                 ...           ...
214662358  3.142016e+13  1.943325e+08
214949521  3.149260e+13  4.626918e+07
214964814  3.132878e+13  2.009834e+08
215175775  3.146283e+13  7.147742e+07
215435223  3.148770e+13  7.951511e+07

[18770 rows x 2 columns]

In [57]:
df = df.sort_values(by=["shopid", "userid", "event_time"])

In [63]:
df

               orderid     shopid     userid           event_time
59      31086409141107      10009  196962305  2019-12-27 03:06:50
76187   31144571933461      10051    2854032  2019-12-27 19:16:11
9055    31254979546679      10051   48600461  2019-12-29 01:56:19
145426  31431527100615      10061   62464559  2019-12-31 02:58:48
200439  31412115824794      10061  130633421  2019-12-30 21:35:15
...                ...        ...        ...                  ...
81950   31493203163305  214949521   46269178  2019-12-31 20:06:43
108903  31328775676314  214964814  200983383  2019-12-29 22:26:16
203031  31453591917585  215175775   13688804  2019-12-31 09:06:31
42842   31472077221692  215175775  129266028  2019-12-31 14:14:37
160711  31487696848532  215435223   79515106  2019-12-31 18:34:56

[222750 rows x 4 columns]

In [39]:
df['shopid'].unique()

array([    10009,     10051,     10061, ..., 214964814, 215175775,
       215435223])

In [41]:
df[df['shopid']==10009]

           orderid  shopid     userid           event_time
59  31086409141107   10009  196962305  2019-12-27 03:06:50

In [48]:
tes = df[df['shopid']==10061]

In [45]:
tes['event_time'].min()

'2019-12-28 09:27:55'

In [49]:
tes

               orderid  shopid     userid           event_time
188513  31195675919209   10061  168750452  2019-12-28 09:27:55
174620  31205132327893   10061  194819216  2019-12-28 12:05:32
200439  31412115824794   10061  130633421  2019-12-30 21:35:15
145426  31431527100615   10061   62464559  2019-12-31 02:58:48

In [47]:
tes['event_time']

188513    2019-12-28 09:27:55
174620    2019-12-28 12:05:32
200439    2019-12-30 21:35:15
145426    2019-12-31 02:58:48
Name: event_time, dtype: object

In [ ]:
pd.date_

In [54]:
dt = pd.DataFrame(np.random.random((200,3)))
dt['date'] = pd.date_range('2000-1-1', periods=200, freq='D')
dt = dt.set_index(['date'])
print(dt.loc['2000-6-1':'2000-6-10'])

                   0         1         2
date
2000-06-01  0.026155  0.003596  0.615401
2000-06-02  0.538226  0.519095  0.058780
2000-06-03  0.427027  0.554439  0.366182
2000-06-04  0.613761  0.143740  0.861329
2000-06-05  0.065557  0.961152  0.651754
2000-06-06  0.815709  0.682989  0.525867
2000-06-07  0.209506  0.793734  0.996836
2000-06-08  0.014715  0.068293  0.665565
2000-06-09  0.694589  0.265512  0.301148
2000-06-10  0.756688  0.514122  0.248940